html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-banner {
  background: linear-gradient(
    rgb(91, 188, 206) 0%,
    rgb(91, 188, 206) 30.08%,
    rgb(118, 200, 211) 45.07%,
    rgb(184, 220, 218) 62.87%,
    rgb(224, 232, 224) 74.13%,
    rgb(226, 232, 225) 79.38%,
    rgb(226, 232, 225) 100%
  );
  position: relative;
  height: 100vh;
  padding-top: 33vh;
  overflow: hidden;

  .main-banner-wrap {
    z-index: 1;
    position: absolute;
    &.cloud2 {
      z-index: 2;
      left: -1.5%;
      width: 103%;
      min-width: 1500px;
      bottom: 0px;
    }
    &.cloud1 {
      bottom: 40px;
      left: -2.5%;
      width: 105%;
      pointer-events: none;
    }
    &.river {
      top: 0px;
      right: 0px;
      width: 100%;
      height: 100%;
      transform-origin: 100% 50%;
    }
    &.cloud-svg {
      position: absolute;
      width: 100%;
      top: 0px;
      left: 0px;
      right: 0px;
      pointer-events: none;
      max-width: 1240px;
      opacity: 0;
      padding: 0px 50px;
      margin: 0px auto;
      transition: opacity 300ms ease 0s;
    }
    &.plane {
      z-index: 2;
      top: 40%;
      right: 24%;
      height: 65.3px;
      width: 206px;
      position: absolute !important;
    }
  }

  .main-banner-cloud2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
    opacity: 1;
    transition: opacity 0.5s ease 0s;
  }
  .main-banner-cloud1 {
    position: absolute;
    left: 0px;
    width: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.5s ease 0s;
    bottom: 0;
    object-position: left center;
  }
  .main-banner-cloud1-pd {
    width: 100%;
    padding-bottom: 69.44444444444444%;
  }
  .main-banner-cloud2-pd {
    width: 100%;
    padding-bottom: 52.15277777777778%;
  }
  .main-banner-river {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right center;
    opacity: 1;
    transition: opacity 0.5s ease 0s;
  }
  .main-banner-plane {
    z-index: 2;
    top: 40%;
    right: 24%;
    height: 65.3px;
    width: 206px;
    position: absolute !important;
  }
  .main-banner-content {
    position: relative;
    max-width: 390px;
    z-index: 3;
    h1 {
      font-size: 42px;
      max-width: 415px;
    }
    p {
      font-size: 16px;
      color: rgb(135, 135, 135);
    }
  }

  .main-banner-btn {
    width: 306px;
    margin-top: 30px;
  }
  .cloud-svg {
    position: absolute;
    left: -1.5%;
    width: 103%;
    min-width: 1500px;
    bottom: 0px;
    & svg {
      object-fit: cover;
      animation-delay: 0.3s;
      object-position: left center !important;
    }
  }
}

.main-copyright {
  text-align: center;
}

.login {
  position: fixed;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 999999;
  padding: 20px;
  background: rgba(9, 30, 66, 0.24);
  .login-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    padding: 20px;
  }
  .login-close {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .login-mode {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    li {
      display: flex;
      align-items: center;
    }
  }
  .login-form {
    margin: auto;
    width: 100%;
    max-width: 420px;
    text-align: center;
    display: flex;
    -webkit-box-pack: justify;
    flex-direction: column;
  }
  .login-header {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media(max-width: 600px) {
  .main-banner{
    .main-banner-btn {
      width: 100%;
      margin-top: 15px;
    }
    background: url(/Landscape-Mobile-min.jpg) no-repeat;
    background-size: cover;
    .main-banner-content{
      margin: auto;
      text-align: center;
    }
    .main-banner-btn{
      margin: auto;
    }
  }
}
